@use "../global/variables" as v;
@use "../global/mixins" as m;

.l-section {
  padding-top: m.vw-clamp(60, 100);
  padding-bottom: m.vw-clamp(60, 100);

  // JSに頼らず、最初から表示させる
  opacity: 1;
  transform: translateY(0);
}