// 1. Modules
@use "foundation/variables" as v;
@use "foundation/mixins" as m;

// 2. Components (Layout / Object / Project)
@use "layout/header";
@use "object/button"; // 追加
// @use "project/home-hero";

// 3. Global Base
* {
	box-sizing: border-box;
}

body {
	background-color: v.$c-base; // 生成色で「視覚的な安らぎ」を担保
	color: v.$c-text;
	font-feature-settings: "palt"; // 文字詰め
}

.container {
	width: 100%;
	max-width: v.$w-wide;
	margin: 0 auto;
	padding: 0 32px;

	@include m.mq(md) {
		padding: 0 24px;
	}
}